html, body{
    margin: 0;
    padding: 0;
    height: auto;
}
body{
    padding: 20px 18px 20px 18px;
    overflow: hidden;
}
button, input, select, textarea{
    font-family: "Ubuntu";
}
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
    text-shadow: none;
}
a, button, input, select, img{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
#intro{
    display: block;
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    background: #111;
    height: 100%;
    width: 100%;
    z-index: 10000;
    margin: 0;
    padding: 0;
}
.intros{
    display: none;
    position: absolute;
    font-family: "Ubuntu";
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-shadow: #154ab3 0px 0px 18px;
    color: #fff;
    height: 26px;
    width: 300px;
    top: calc(50% - 13px);
    left: calc(50% - 150px);
}
#intro-1{
    display: block;
}
#mcswap-dapp-nav{
    width: 100%;
    padding: 0;
    border-radius: 10px;
    margin: 0 0 18px 0;
}
#mcswap-dapp-nav-box{
    width: calc(100% - 32px);
    padding: 15px;
    border-radius: 10px;
    height: 42px;
    background: #1a1a1a;
}
#mcswap-dapp-logo{
    width: 52px;
    height: 52px;
    border-radius: 8px;
    margin: -5px 0 0 -5px;
}
.mcswap-shop{
    margin-bottom: 0;
    overflow: auto;
    border-radius: 10px;
}